// Styling for the navbar
.navbar-left {
  @include transition-all;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}

.navbar-right {
  @include transition-all;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}

.navbar-left-expand {
  transform: translateX(-145px);
  -webkit-transform: translateX(-145px);
  -moz-transform: translateX(-145px);
  -ms-transform: translateX(-145px);
  -o-transform: translateX(-145px);
}

.navbar-right-expand {
  transform: translateX(100px);
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
}

#mainNav {
  border-color: fade-out($gray-darker, .95);
  background-color: #191919;
  @include sans-serif-font;
  @include transition-all;
  .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: $theme-primary;
    @include sans-serif-font;
    &:focus,
    &:hover {
      color: darken($theme-primary, .1);
    }
  }
  .navbar-toggle {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: $gray-darker;
  }
  .navbar-nav {
    > li.nav-item {
       > a.nav-link:focus,
      > a.nav-link {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: fade-out(white, .3);
        &:hover {
          color: white;
        }
        &.active {
          color: white !important;
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
    span.nav-item {
      a.nav-link:focus,
      a.nav-link {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: fade-out(white, .3);
        &:hover {
          color: white;
        }
        &.active {
          color: white !important;
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    border-color: fade-out(white, .7);
    background-color: transparent;
    .navbar-brand {
      color: fade-out(white, .3);
      &:focus,
      &:hover {
        color: white;
      }
    }
    .navbar-nav > li.nav-item > a.nav-link,
    .navbar-nav > li.nav-item > a.nav-link:focus {
      color: fade-out(white, .3);
      &:hover {
        color: white;
      }
    }
    .navbar-nav > span.nav-item > a.nav-link,
    .navbar-nav > span.nav-item > a.nav-link:focus{
      color: fade-out(white, .3);
      &:hover {
        color: white;
      }
    }
    &.navbar-shrink {
      border-color: fade-out(white, .7);
      background-color: #191919;
      .navbar-brand {
        font-size: 16px;
        color: fade-out(white, .3);
        &:focus,
        &:hover {
          color: white;;
        }
      }
      .navbar-nav > li.nav-item > a.nav-link,
      .navbar-nav > li.nav-item > a.nav-link:focus {
        color: fade-out(white, .3);
        &:hover {
          color: white;
        }
      }
      .navbar-nav > span.nav-item > a.nav-link,
      .navbar-nav > span.nav-item > a.nav-link:focus {
        color: fade-out(white, .3);
        &:hover {
          color: white;
        }
      }
    }
  }
}
