// Variables

// Gray and Brand Colors for use across theme

$theme-primary: #021B44;
$theme-primary-darken: darken($theme-primary, 8%);
$background-color: #000;

$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 14%) !default;
$gray-dark: lighten($gray-base, 20%) !default;
$gray: lighten($gray-base, 34%) !default;
$gray-light: lighten($gray-base, 47%) !default;
$gray-slightly-lighter: lighten($gray-base, 70%) !default;
$gray-lighter: lighten($gray-base, 94%) !default;

$seal-blue: rgb(24, 79, 154);
$seal-blue-50alpha: rgba(24, 79, 154, 0.5);
$star-yellow: rgb(250, 175, 62);